:root{
  --bg-clr: black;
  --sign-dm: 70%;
  --lzy: 10rem;
  @media (min-width: 400px) {
    --sign-dm: 80%;
    --lzy: 13rem;
  }
    @media (min-width: 600px) {
    --sign-dm: 80%;
    --lzy: 14rem;
  }

}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: var(--bg-clr);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
