.main {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  nav {
    max-height: 4rem;
    display: flex;
    margin-top: 0.5rem;
    padding-right: 0.5rem;
    justify-content: space-between;
    .logo_wrapper {
      display: flex;
    }
    .main_links_logo {
      display: flex;
      flex-direction: row;
      max-width: 4rem;
      gap: 1rem;
    }
  }
  & > section,
  .main_section {
    width: 100%;
    height: clamp(800px, 100vh, calc(100vh - 4rem));
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0;
    padding: 1.5rem;
    // background: orange;

    // Home image styles
    .home_image {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-direction: column;
      width: 100%;

      //   max-width: 300px;
      height: clamp(300px, 50vh, calc(40vh - 4rem));
      margin: 0 auto;
    }
    .position{
      position: absolute;
      bottom: 4%;
      right:16%;
      width: 40%;
      height: 30%;
      // background: red;
    }
    .lzyutes_and_sign {
      height: 100%;
      width: 100%;
      // background: red;
      max-height: calc(50vh - 4rem);
      display: flex;
      gap: 0.7rem;
      flex-direction: column;
      transform: translateY(-2.3rem);
      .text {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 5.5rem;
      }
      .sign {
        max-width: 500px;
        margin: auto;
        // background: green;
        position: relative;
        color: black;
        width: 100%;
        display: flex;
        flex-direction: column;
        // background: violet;
        font-size: 0.75rem;
        letter-spacing: 0.01px;
        max-height: 13rem;
        div {
          position: absolute;
          cursor: pointer;
          display: flex;

          // color: white;
          width: 5rem;
          // background: red;
          &:nth-of-type(1) {
            top: 11%;
            left: 54%;
          }
          &:nth-of-type(2) {
            width: 4.5rem;
            top: 30%;
            right: 51%;
          }
          &:nth-of-type(3) {
            top: 50%;
            left: 55%;
          }
        }
      }
    }
  }
}
